@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Playfair+Display:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a,
button {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 4rem;
  position: relative;
  width: 90vw;
  border-bottom: 1px solid #e2e2e2;
}
.nav {
  padding: 0 1rem;
  max-width: 1600px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  align-items: center;
  height: 4rem;
}
.nav__options,
.nav__subscription {
  display: flex;
  align-items: center;
  height: inherit;
}
.nav__options {
  float: left;
}
.nav__subscription {
  float: right;
}
.nav__options > * {
  margin-right: 3rem;
}
.nav__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4px;
  bottom: 0;
  width: 18rem;
}
.nav__category,
.nav__subscription > button {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
}

.nav__category {
  font-size: 1.7rem;
}

.logo__image {
  width: inherit;
}

.nav__subscription > button,
.button {
  border: none;
  padding: 0.9rem;
  border-radius: 3px;
  color: #fff;
  font-size: 1.1rem;
  background-color: #537995;
}
.nav__subscription > button:hover,
.button:hover {
  background-color: #326890;
}

/* Main section */

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.main__header {
  /* text-align: center; */
  margin-top: 2.5rem;
}
.main__header-title {
  font-family: "Libre Franklin", sans-serif;
  font-style: italic;
  font-size: 3.5rem;
  margin: 2rem auto;
  width: 40rem;
}
.main__header-img {
  width: 100%;
}

.bold {
  font-weight: bold;
}
.iframe {
  width: 560px;
  height: 315px;
  border: none;
}
.main__header .figure {
  width: 85%;
  font-size: 1.5rem;
  color: #636161;
}
.grid-item img {
  width: 100%;
}

.main__content-box {
  max-width: 600px;
  width: 100%;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
  grid-column: 2 / span 1;
}

.author {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 4rem;
}
.author__link {
  border-bottom: 3px solid #faf4f4;
}
.author__link:hover {
  border: none;
}

.main__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;

  align-items: center;
  /* margin-top: -2.4rem; */
}
.icons {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 100%;
  font-size: 1.2rem;
}

.date {
  color: #333;
  font-size: 1.2rem;
  padding: 1rem 0rem;
}

.social > * {
  margin: 1.4rem;
}

.main__text {
  line-height: 1.6;
}
.main__text > p {
  font-size: 1.9rem;
  letter-spacing: 0.3px;
  margin-bottom: 2.6rem;
}
.main__text a {
  color: #1b78c5;
  font-weight: 500;
  text-decoration: underline;
}
.quotes {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* GRID TEST */

.main__content-container {
  display: grid;
  grid-template: 1fr / 1fr auto 1fr;
  gap: 8rem;
}
.main__content-container > div {
  width: 100%;
}

.main__content-editor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.thanking__comment {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.thanking__comment::after {
  position: absolute;
  content: "";
  width: 15%;
  height: 100%;
  border-bottom: 1px solid rgb(172, 170, 170);
  border-top: 1px solid rgb(172, 170, 170);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}
.subscribe__times {
  color: #326890;
}

.list__image li img {
  max-width: 8rem;
  margin-right: 0.6rem;
}
.main__content-editor h2 {
  font-size: 2rem;
}
.list__image li {
  display: flex;

  font-size: 1.3rem;
  margin-top: 3rem;
}

.main__footer {
  font-size: 1.2rem;
  color: grey;
}
.main__footer a {
  text-decoration: underline;
  color: grey;
}
.main__footer a:hover {
  text-decoration: none;
}

/* inflation theory section */

.inflation__section {
  margin: 0rem 12rem 8rem 12rem;
}

.inflation__section p {
  font-size: 1.3rem;
  color: #66686b;
  margin: 0.7rem 0 4rem;
}

.inflation__section-content {
  display: grid;
  grid-template: 27rem 27rem / repeat(4, 1fr);
  gap: 1rem;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.card {
  margin-top: 15rem;
  font-size: 1.2rem;
}
.inflation__section-author {
  position: relative;
  margin-top: 8rem;
  font-size: 1.3rem;
}
.figcaption {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 3rem;
  width: 80%;
}

.inflation__section-author::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  top: -1rem;
  width: 5rem;
  left: 0;
}
.satellite,
.satellite__box .figure {
  width: 140%;
  align-self: center;
  font-size: 1.4rem;
}
.satellite__box {
  display: flex;
  margin-bottom: 4rem;
  flex-direction: column;
}

.button {
  font-size: 1.6rem;
  padding: 1rem 4rem;
}

.related {
  display: flex;
  width: 100%;
}
.grid-container,
.related__popular {
  padding-top: 2rem;
  margin-top: 4rem;
  border-top: 1px solid black;
}

.related__content {
  flex: 0 0 75%;
}
.related__popular {
  flex: 1;
  margin-left: 2.5rem;
}

.grid-container h4 {
  padding-bottom: 2rem;
  font-size: 1.6rem;
}
.related__content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.img-author {
  font-size: 10px;
  text-align: right;
  font-weight: 200;
}
.grid-item h5 {
  font-size: 1.2rem;
  height: 4rem;
}
.grid-item > * {
  margin-bottom: 0.5rem;
}

.related__popular {
  display: flex;
  flex-direction: column;
}
.related__popular > * {
  margin-top: 2rem;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(187, 186, 186);
}
.related__popular div:nth-child(1) {
  margin-top: 0;
}
.related__body {
  font-size: 1.5rem;
}
footer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-family: "Libre Franklin", sans-serif;
  border-top: 6px solid rgb(207, 204, 204);
  padding-top: 2rem;
}

.homepage {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__item li > h6 {
  font-size: 1.6rem;
  margin-top: 2rem;
}
.footer__item a {
  font-size: 1.1rem;
}

.footer__bottom {
  margin: 4rem 0 2rem 0;
  height: 8rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid #bab4b4;
}
.footer__bottom > ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 2rem;
  font-size: 1rem;
}
.footer__bottom ul > * {
  margin-right: 2rem;
}
.footer__logo {
  width: 20rem;
}
.footer__item .subscribe_link {
  font-weight: bold;
  font-size: 1.7rem;
  padding: 0.4rem 0;
  margin-top: 0.4rem;
}
